@import  'overlayscrollbars/overlayscrollbars.css';

@import 'tailwindcss';
/* @import 'tailwindcss/preflight'; */
/* @tailwind utilities; */
/* @custom-variant dark (&:where(.dark, .dark *)); */

html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
